<ion-header>
    <ion-toolbar color="dark">
      <ion-title>Culture</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-button color="danger"[routerLink]="['/accueil']">Redirect Accueil</ion-button>
      <ion-button color="danger"[routerLink]="['/culture']">Redirect culture</ion-button>
      <ion-card>
          <img src="https://medias.laprovence.com/Di04fa_e726DbLNJ-wL2l0IUgt8=/0x31:642x384/1116x670/top/smart/538a249440894497858e2853869c6438/20190723_1_1_3_1_1_obj20687906_1.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>Avenir84, Avignon</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Au rez-de-chaussée d'un bâtiment mis à disposition par Mistral-Habitat, 16 stagiaires de la formation initiée par Avenir 84. En décembre, ils seront tous opérationnels est-il assuré.
          </ion-card-content>
        </ion-card>
  </ion-content>
  