<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-input placeholder="Pseudo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="E-Mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Mot de passe" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Pays"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button color="dark" expand="block" type="submit" class="ion-no-margin" (click)="connexion()">Crée le compte</ion-button>
      <br>
      <ion-text>
      Déjà inscrit ? <ion-button color="danger" [routerLink]="['/connexion']">Clique ici !</ion-button>
      </ion-text>
    </div>
  </form>
</ion-content>
