<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-input placeholder="Pseudo" [(ngModel)]="pseudo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="E-Mail" [(ngModel)]="mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Mot de passe" [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Pays" [(ngModel)]="pays"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button color="dark" expand="block" type="submit" class="ion-no-margin" (click)="connexion()">Crée le compte</ion-button>
      <br>
      <ion-text>
      Déjà inscrit ? <ion-button color="danger" [routerLink]="['/connexion']">Clique ici !</ion-button>
      </ion-text>
    </div>
</ion-content>
