<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button color="danger" [routerLink]="['/accueil']">Redirect accueil</ion-button>
<form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Prénom <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nom<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"></ion-label>
        <ion-input placeholder="Adresse 1"></ion-input>
        <ion-input placeholder="Adresse 2"></ion-input>
        <ion-input placeholder="Ville"></ion-input>
        <ion-input placeholder="Région"></ion-input>
        <ion-input placeholder="Code Postale"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button color="dark" expand="block" type="submit" class="ion-no-margin" onclick="handleButtonClick()">Crée le compte</ion-button>
    </div>
  </form>
</ion-content>
