<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center">
<!--  <ion-button color="danger" [routerLink]="['/inscription']">Redirect inscription</ion-button>-->
<!--  <ion-button color="danger" [routerLink]="['/culture']">Redirect culture</ion-button>-->
<ion-item>
  <ion-input color="danger" [(ngModel)]="pseudoEmail" placeholder="Pseudonyme ou Email"></ion-input>
</ion-item>
  <ion-item>
  <ion-input color="danger" type="password" [(ngModel)]="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
<ion-button color="danger" (click)="connexion()">Se connecter</ion-button>

  <ion-text>
   <ion-button color="dark" [routerLink]="['/inscription']"> S'inscrire </ion-button>
  </ion-text>


</ion-content>
